<div class="stack-container" *ngFor="let stack of [].constructor(2); let i = index">
  <ul class="cards">
    <li class="card" *ngFor="let card of [].constructor(5); let j = index" [ngClass]="{
      'card--current': j === 0,
      'card--next': j === 1,
      'card--out': j === 3
    }">
      <h1>Comment Card {{j + 1}} (Stack {{i + 1}})</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent bibendum, lorem vel tincidunt imperdiet...</p>
    </li>
  </ul>
  <!-- <div class="button-container">
    <button (click)="onPreviousCard(i)">Previous</button>
    <button (click)="onNextCard(i)">Next</button>
  </div> -->
</div>
